### UNIDAD II: MANEJO DE DATOS

**En el presente notebook revisaremos la forma de leer datos con ayuda de la biblioteca Pandas.**

In [1]:
import pandas as pd

**Función read de Pandas:**

In [2]:
carpeta_origen = "C:/Users/Heber/Desktop/curso_geopython/dataset_curso/" # Carpeta contenedora
archivo_1 = "muestras_cu.csv" # Archivo N° 1 
archivo_2 = "muestras_fe.xlsx" # Archivo N° 2
archivo_1_url = "https://nubeminera.cl/wp-content/uploads/2018/12/muestras_3d.csv" # Archivo N° 1 desde URL

In [3]:
dataset_cu = pd.read_csv(carpeta_origen + archivo_1, sep = ";")

In [4]:
dataset_cu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2380 entries, 0 to 2379
Data columns (total 6 columns):
Este [X]            2380 non-null float64
Norte [Y]           2380 non-null float64
Cota [Z]            2380 non-null float64
Ley de Cobre [%]    2380 non-null float64
Ley de Oro [ppm]    2380 non-null float64
Tipo de roca        2380 non-null int64
dtypes: float64(5), int64(1)
memory usage: 111.6 KB

In [5]:
dataset_cu.tail()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
2375,382.9,295.2,11.2,0.59,1.757,7
2376,359.7,294.9,24.7,0.88,2.722,7
2377,358.7,295.0,12.7,1.14,19.045,7
2378,360.8,294.7,36.6,1.14,11.690,7
2379,399.0,295.2,26.4,0.44,3.941,7

In [6]:
dataset_fe = pd.read_excel(carpeta_origen + archivo_2)

In [7]:
dataset_fe.head()

     Este [X]    Norte [Y]  Cota [Z]     Fe   SiO2  Al2O3
0  384000.151  7028618.993  1337.009  -9.00  -9.00  -9.00
1  384000.202  7028617.978  1335.286  -9.00  -9.00  -9.00
2  384000.253  7028616.963  1333.563   4.27  61.92  16.18
3  384000.302  7028615.948  1331.841   6.09  59.06  16.39
4  384000.351  7028614.934  1330.118  10.81  54.50  14.96

In [8]:
dataset_fe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3257 entries, 0 to 3256
Data columns (total 6 columns):
Este [X]     3257 non-null float64
Norte [Y]    3257 non-null float64
Cota [Z]     3257 non-null float64
Fe           3257 non-null float64
SiO2         3257 non-null float64
Al2O3        3257 non-null float64
dtypes: float64(6)
memory usage: 152.8 KB

In [9]:
dataset_url = pd.read_csv(archivo_1_url, sep = ";")

In [10]:
dataset_url.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,0.12,0.000,1
1,335.1,38.0,97.0,0.13,0.028,1
2,250.7,593.4,36.0,0.13,0.027,1
3,275.8,517.2,86.1,0.19,0.000,1
4,256.1,529.1,61.8,0.19,0.039,1

In [11]:
dataset_cu.dtypes

Este [X]            float64
Norte [Y]           float64
Cota [Z]            float64
Ley de Cobre [%]    float64
Ley de Oro [ppm]    float64
Tipo de roca          int64
dtype: object

In [12]:
dataset_fe.dtypes

Este [X]     float64
Norte [Y]    float64
Cota [Z]     float64
Fe           float64
SiO2         float64
Al2O3        float64
dtype: object

In [13]:
dataset_cu.shape

(2380, 6)

In [14]:
dataset_fe.shape

(3257, 6)

In [15]:
dataset_cu.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,0.12,0.000,1
1,335.1,38.0,97.0,0.13,0.028,1
2,250.7,593.4,36.0,0.13,0.027,1
3,275.8,517.2,86.1,0.19,0.000,1
4,256.1,529.1,61.8,0.19,0.039,1

In [16]:
dataset_cu[3:10][['Tipo de roca']]

   Tipo de roca
3             1
4             1
5             1
6             1
7             1
8             1
9             1

In [17]:
dataset_cu.columns.values

array(['Este [X]', 'Norte [Y]', 'Cota [Z]', 'Ley de Cobre [%]',
       'Ley de Oro [ppm]', 'Tipo de roca'], dtype=object)

In [18]:
type(dataset_cu)

pandas.core.frame.DataFrame

In [19]:
dataset_cu.describe()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
count,2380.000000,2380.000000,2380.000000,2380.000000,2380.000000,2380.000000
mean,166.575294,287.579412,81.264748,1.053168,3.949339,2.268487
std,87.226962,157.945473,36.016716,0.644953,7.216218,1.151317
min,0.200000,2.200000,6.000000,0.120000,0.000000,1.000000
25%,100.400000,158.000000,53.450000,0.620000,0.202750,2.000000
50%,160.400000,292.900000,84.000000,0.940000,1.148500,2.000000
75%,220.400000,413.000000,109.250000,1.330000,4.300750,2.000000
max,399.000000,598.900000,136.000000,7.240000,69.854000,7.000000

In [20]:
dataset_fe.describe()

,Este [X],Norte [Y],Cota [Z],Fe,SiO2,Al2O3
count,3257.000000,3.257000e+03,3257.000000,3257.000000,3257.000000,3257.0000
mean,383694.917377,7.028635e+06,1158.017827,12.896802,46.018278,12.3384
std,133.598677,6.242355e+01,95.851227,9.529222,11.611066,4.1848
min,383499.855000,7.028475e+06,880.370000,-9.000000,-9.000000,-9.0000
25%,383577.195000,7.028586e+06,1098.627000,7.159000,43.736000,11.6900
50%,383700.015000,7.028639e+06,1167.392000,10.980000,49.061000,13.3500
75%,383799.849000,7.028682e+06,1233.004000,16.266000,52.443000,14.4680
max,384007.354000,7.028779e+06,1345.180000,66.408000,61.920000,18.8030

**Crear un subconjunto de datos:**

In [21]:
sub_dataset_cu = dataset_cu[['Ley de Cobre [%]', 'Ley de Oro [ppm]', 'Tipo de roca']]

In [22]:
sub_dataset_cu.head()

   Ley de Cobre [%]  Ley de Oro [ppm]  Tipo de roca
0              0.12             0.000             1
1              0.13             0.028             1
2              0.13             0.027             1
3              0.19             0.000             1
4              0.19             0.039             1

In [23]:
dataset_cu.iloc[0:5,3:6]

   Ley de Cobre [%]  Ley de Oro [ppm]  Tipo de roca
0              0.12             0.000             1
1              0.13             0.028             1
2              0.13             0.027             1
3              0.19             0.000             1
4              0.19             0.039             1

In [24]:
dataset_cu_2 = pd.read_csv(carpeta_origen + archivo_1, sep = ";", usecols=[3,4,5], names=['Cu %', 'Au ppm', 'Rock type'], header=None, skiprows=1)

In [25]:
dataset_cu_2.head()

   Cu %  Au ppm  Rock type
0  0.12   0.000          1
1  0.13   0.028          1
2  0.13   0.027          1
3  0.19   0.000          1
4  0.19   0.039          1

In [26]:
dataset_cu_2.describe()

              Cu %       Au ppm    Rock type
count  2380.000000  2380.000000  2380.000000
mean      1.053168     3.949339     2.268487
std       0.644953     7.216218     1.151317
min       0.120000     0.000000     1.000000
25%       0.620000     0.202750     2.000000
50%       0.940000     1.148500     2.000000
75%       1.330000     4.300750     2.000000
max       7.240000    69.854000     7.000000

In [27]:
dataset_fe.head()

     Este [X]    Norte [Y]  Cota [Z]     Fe   SiO2  Al2O3
0  384000.151  7028618.993  1337.009  -9.00  -9.00  -9.00
1  384000.202  7028617.978  1335.286  -9.00  -9.00  -9.00
2  384000.253  7028616.963  1333.563   4.27  61.92  16.18
3  384000.302  7028615.948  1331.841   6.09  59.06  16.39
4  384000.351  7028614.934  1330.118  10.81  54.50  14.96

In [28]:
dataset_fe.shape

(3257, 6)

In [29]:
(dataset_fe[dataset_fe['Fe']==-9]).shape

(70, 6)

In [30]:
(dataset_fe[dataset_fe['SiO2']==-9]).shape

(70, 6)

In [31]:
(dataset_fe[dataset_fe['Al2O3']==-9]).shape

(70, 6)

In [32]:
(dataset_fe[dataset_fe['Fe']==-9]).head()

       Este [X]    Norte [Y]  Cota [Z]   Fe  SiO2  Al2O3
0    384000.151  7028618.993  1337.009 -9.0  -9.0   -9.0
1    384000.202  7028617.978  1335.286 -9.0  -9.0   -9.0
132  383800.046  7028521.469  1302.407 -9.0  -9.0   -9.0
133  383800.026  7028522.044  1301.326 -9.0  -9.0   -9.0
330  383700.003  7028520.955  1287.469 -9.0  -9.0   -9.0

¿Como eliminar las filas que contengan valores negativos en el dataset?

In [33]:
dataset_fe2 = dataset_fe

In [34]:
dataset_fe2.head()

     Este [X]    Norte [Y]  Cota [Z]     Fe   SiO2  Al2O3
0  384000.151  7028618.993  1337.009  -9.00  -9.00  -9.00
1  384000.202  7028617.978  1335.286  -9.00  -9.00  -9.00
2  384000.253  7028616.963  1333.563   4.27  61.92  16.18
3  384000.302  7028615.948  1331.841   6.09  59.06  16.39
4  384000.351  7028614.934  1330.118  10.81  54.50  14.96

In [35]:
dataset_fef1 = dataset_fe2.drop(dataset_fe2[dataset_fe2.Fe ==-9].index)

In [36]:
dataset_fef1.shape

(3187, 6)

In [37]:
3257 - 3187

70

In [38]:
dataset_fef1.to_csv(carpeta_origen + "dataset_fe_filtrado1.csv")

In [39]:
dataset_cu.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,0.12,0.000,1
1,335.1,38.0,97.0,0.13,0.028,1
2,250.7,593.4,36.0,0.13,0.027,1
3,275.8,517.2,86.1,0.19,0.000,1
4,256.1,529.1,61.8,0.19,0.039,1

**En esta capsula revisaremos algunas formas de agrupar datos en base a algun criterio:** En este caso utilizaremos el "tipo de roca".

In [40]:
dataset_cu.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,0.12,0.000,1
1,335.1,38.0,97.0,0.13,0.028,1
2,250.7,593.4,36.0,0.13,0.027,1
3,275.8,517.2,86.1,0.19,0.000,1
4,256.1,529.1,61.8,0.19,0.039,1

In [41]:
dataset_cu['Tipo de roca'].value_counts() #contar los valores de la variable tipo de roca

2    1636
1     349
5     173
3     120
6      62
4      33
7       7
Name: Tipo de roca, dtype: int64

In [42]:
roca_1 = dataset_cu[dataset_cu['Tipo de roca']==1]
roca_2 = dataset_cu[dataset_cu['Tipo de roca']==2]
roca_3 = dataset_cu[dataset_cu['Tipo de roca']==3]
roca_4 = dataset_cu[dataset_cu['Tipo de roca']==4]
roca_5 = dataset_cu[dataset_cu['Tipo de roca']==5]
roca_6 = dataset_cu[dataset_cu['Tipo de roca']==6]
roca_7 = dataset_cu[dataset_cu['Tipo de roca']==7]

In [43]:
roca_1.shape

(349, 6)

In [44]:
roca_7.describe()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.0
mean,378.814286,295.057143,22.500000,0.730000,6.810714,7.0
std,18.661675,0.198806,8.820431,0.318591,6.287472,0.0
min,358.700000,294.700000,11.200000,0.440000,1.757000,7.0
25%,360.250000,294.950000,16.100000,0.460000,3.331500,7.0
50%,382.900000,295.200000,24.700000,0.590000,3.941000,7.0
75%,395.300000,295.200000,26.400000,1.010000,8.134500,7.0
max,399.000000,295.200000,36.600000,1.140000,19.045000,7.0

**Otra forma de agrupar datos con función de PANDAS:**

In [45]:
grupos_roca = dataset_cu.groupby('Tipo de roca') #Agrupar por "Tipo de roca"

In [46]:
grupos_roca.groups

{1: Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
             ...
             339, 340, 341, 342, 343, 344, 345, 346, 347, 348],
            dtype='int64', length=349),
 2: Int64Index([ 349,  350,  351,  352,  353,  354,  355,  356,  357,  358,
             ...
             1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984],
            dtype='int64', length=1636),
 3: Int64Index([1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
             ...
             2095, 2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104],
            dtype='int64', length=120),
 4: Int64Index([2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113, 2114, 2115,
             2116, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124, 2125, 2126,
             2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137],
            dtype='int64'),
 5: Int64Index([2138, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2146, 2147,
             ...
             2301, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310],
            dtype='int64', length=173),
 6: Int64Index([2311, 2312, 2313, 2314, 2315, 2316, 2317, 2318, 2319, 2320, 2321,
             2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332,
             2333, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343,
             2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2352, 2353, 2354,
             2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365,
             2366, 2367, 2368, 2369, 2370, 2371, 2372],
            dtype='int64'),
 7: Int64Index([2373, 2374, 2375, 2376, 2377, 2378, 2379], dtype='int64')}

In [47]:
for names, groups in grupos_roca:
    print(names)
    print(groups)

1
     Este [X]  Norte [Y]  Cota [Z]  Ley de Cobre [%]  Ley de Oro [ppm]  \
0       193.0      528.6      39.0              0.12             0.000
1       335.1       38.0      97.0              0.13             0.028
2       250.7      593.4      36.0              0.13             0.027
3       275.8      517.2      86.1              0.19             0.000
4       256.1      529.1      61.8              0.19             0.039
5       335.1       38.0     109.0              0.19             0.013
6       250.7      593.4      24.0              0.19             0.026
7       394.9      218.3     133.2              0.21             0.022
8       250.7      593.4      48.0              0.22             0.026
9       335.1       38.0      85.0              0.22             0.149
10      275.8      517.2      98.1              0.24             0.000
11      370.8      473.3     120.1              0.24             0.047
12      273.6      495.0     108.0              0.24             0.000
13      144.0      584.4      52.2              0.24             0.019
14      204.9      527.6      11.2              0.25             0.061
15      375.6      352.2      72.2              0.25             0.015
16      257.0      503.4      34.0              0.26             0.028
17      362.5       61.2      89.3              0.26             0.033
18      250.7      593.4      12.0              0.26             0.027
19      218.3      592.5      24.1              0.27             0.375
20      335.1       38.0     121.0              0.27             0.271
21      213.4      527.8      19.6              0.28             0.085
22      250.9      470.3      74.3              0.28             0.000
23      360.5      535.0     125.5              0.28             0.035
24      375.6      352.2     132.2              0.28             0.089
25      193.0      528.6      72.0              0.28             0.142
26      135.9      585.2      74.8              0.29             0.040
27      139.9      584.8      63.5              0.29             0.101
28      375.6      352.2      60.2              0.29             0.027
29      250.2      533.0     108.0              0.29             0.003
..        ...        ...       ...               ...               ...
319     340.2       98.1      84.2              1.34             2.793
320     220.9      473.2     134.9              1.35             0.667
321     273.0      428.0      99.8              1.35             0.098
322     288.3       59.0      12.9              1.35             2.751
323     209.4      120.0      90.9              1.36            11.567
324     203.8      473.3     118.1              1.38             6.014
325     196.2      115.9     115.2              1.41            15.696
326     244.0       83.8      39.1              1.42             2.386
327     261.2       45.7      72.0              1.43            18.323
328     367.8      162.2      16.7              1.44            12.521
329     250.2      292.9     132.0              1.44             5.018
330     261.2       65.7      13.2              1.44             3.800
331     220.8       98.1      96.2              1.47            11.709
332     197.5       97.9     107.4              1.49             3.960
333     187.8      116.1     106.7              1.50             3.155
334     249.7       77.8      30.4              1.50             3.981
335     221.5      469.2     128.1              1.53             1.322
336     217.8      467.3     104.5              1.54             2.550
337     335.1       38.0      85.0              0.22             0.149
338     190.4      113.0     120.0              1.54             3.950
339     261.2       45.7      60.0              1.60            15.694
340     190.4      113.0     108.0              1.60             4.469
341     220.4      458.0     120.0              1.70             0.528
342     280.4      428.0     119.0              1.77             4.625
343     216.0      466.4      92.7              1.78             7.675
344     370.4      233.0     132.0              1.94            21.450
345     220.8       98.1     108.2              2.01             6.850
346     261.2       45.7     120.0              2.49            40.481
347     370.4      233.0     120.0              3.18            69.854
348     261.2       45.7     132.0              3.65            28.673

     Tipo de roca
0               1
1               1
2               1
3               1
4               1
5               1
6               1
7               1
8               1
9               1
10              1
11              1
12              1
13              1
14              1
15              1
16              1
17              1
18              1
19              1
20              1
21              1
22              1
23              1
24              1
25              1
26              1
27              1
28              1
29              1
..            ...
319             1
320             1
321             1
322             1
323             1
324             1
325             1
326             1
327             1
328             1
329             1
330             1
331             1
332             1
333             1
334             1
335             1
336             1
337             1
338             1
339             1
340             1
341             1
342             1
343             1
344             1
345             1
346             1
347             1
348             1

[349 rows x 6 columns]
2
      Este [X]  Norte [Y]  Cota [Z]  Ley de Cobre [%]  Ley de Oro [ppm]  \
349      147.5      593.3      64.0              0.16             0.000
350      172.7      575.6     126.0              0.21             0.029
351      100.0      548.0     132.0              0.24             0.000
352       75.4      532.2     108.0              0.25             0.000
353      148.1      584.0      40.9              0.28             0.047
354       70.7       37.8     131.9              0.28             0.000
355      115.4      587.1     131.2              0.30             0.399
356      189.7      262.8      36.0              0.30             0.026
357      190.6      593.0      60.0              0.31             0.134
358      124.3      593.6      36.5              0.32             0.035
359      108.8      593.7      18.2              0.32             0.045
360      205.5      594.1      57.7              0.33             0.017
361       65.9       55.5     133.0              0.33             0.000
362      187.1      532.6      69.1              0.34             0.190
363      193.0      528.6      84.0              0.34             1.028
364      172.6      567.8     135.1              0.34             0.528
365      219.5      560.0     120.0              0.34             0.252
366      132.0      593.5      45.7              0.34             0.815
367      280.4      248.0     115.7              0.35             0.182
368      125.0      530.9      92.6              0.35             0.322
369       90.0      111.2       6.2              0.36             0.049
370      172.7      583.3     116.8              0.36             0.114
371      108.0      530.6      75.6              0.36             0.132
372       75.4      532.2     120.0              0.36             0.026
373      214.1      593.1      35.3              0.37             0.337
374      102.3       38.0      12.0              0.37             0.011
375      102.3       38.2      12.0              0.37             0.084
376      250.7      593.4     132.0              0.37             0.000
377      130.4      563.0     119.8              0.37             0.250
378      220.2      218.4      48.3              0.38             0.085
...        ...        ...       ...               ...               ...
1955     160.5      458.0     120.0              2.77            31.147
1956     186.5      469.8      54.1              2.77            22.507
1957     313.4       59.7      38.7              2.81            42.643
1958     101.7      487.0     132.0              2.88             5.945
1959     159.9      487.7     132.0              2.91            30.997
1960     130.4      173.2     119.9              2.95            22.987
1961     190.4      443.1     108.0              2.97            15.154
1962      70.4       83.0      84.0              3.00            24.493
1963     130.4       68.0     120.0              3.12            26.711
1964     105.7       68.0      72.0              3.14            32.161
1965     130.4       68.0     108.0              3.34            19.746
1966     130.7       53.0     120.0              3.39            27.993
1967     134.1       40.7     108.6              3.47            14.671
1968     214.3       55.5      87.9              3.67            42.356
1969     105.7       68.0      84.0              3.78            24.446
1970     160.5      458.0     132.0              3.79            22.571
1971     210.3       55.4      76.6              3.86            29.312
1972     100.2      128.1      60.2              3.89             7.535
1973     130.7       53.0     108.0              3.99            23.865
1974     134.1       40.7     120.6              4.22            24.579
1975     220.4       38.0     119.8              4.46            46.721
1976     120.0      134.1     131.8              5.13            23.901
1977     121.8      116.4     132.0              5.29            59.236
1978     220.4       38.0     131.8              5.68            41.692
1979     110.4       83.1     119.5              5.80            52.132
1980     128.9       84.9     119.0              6.16            26.966
1981     128.9       84.9     131.0              6.30            59.627
1982     113.5      116.5     123.4              6.89            33.844
1983     110.4       83.1     131.0              6.90            68.826
1984     217.6       55.5      97.4              7.24            37.878

      Tipo de roca
349              2
350              2
351              2
352              2
353              2
354              2
355              2
356              2
357              2
358              2
359              2
360              2
361              2
362              2
363              2
364              2
365              2
366              2
367              2
368              2
369              2
370              2
371              2
372              2
373              2
374              2
375              2
376              2
377              2
378              2
...            ...
1955             2
1956             2
1957             2
1958             2
1959             2
1960             2
1961             2
1962             2
1963             2
1964             2
1965             2
1966             2
1967             2
1968             2
1969             2
1970             2
1971             2
1972             2
1973             2
1974             2
1975             2
1976             2
1977             2
1978             2
1979             2
1980             2
1981             2
1982             2
1983             2
1984             2

[1636 rows x 6 columns]
3
      Este [X]  Norte [Y]  Cota [Z]  Ley de Cobre [%]  Ley de Oro [ppm]  \
1985      28.1      207.1      16.1              0.14             0.000
1986      24.4      232.7     118.2              0.17             0.000
1987      33.6      209.9      22.7              0.20             0.002
1988      40.1      247.3      96.1              0.21             0.000
1989      40.5      218.0     108.0              0.21             0.000
1990      28.5      232.1     107.0              0.22             0.000
1991      40.6      307.5      72.1              0.22             0.000
1992      10.0      173.0      95.0              0.22             0.000
1993      40.6      230.1      73.1              0.22             0.014
1994      40.4      188.0     135.1              0.23             0.000
1995      10.0      173.0     107.0              0.24             0.039
1996      10.2      112.7     119.5              0.24             0.000
1997      40.1      247.3     108.1              0.25             0.000
1998      55.4      233.0     120.0              0.25             0.014
1999      10.4       83.0     120.2              0.25             0.000
2000      17.1      353.0     131.4              0.25             0.000
2001      19.5      115.8     131.2              0.26             0.096
2002      10.4      353.0     120.0              0.26             0.029
2003      21.5      352.6     120.3              0.27             0.000
2004      53.6      241.2     132.0              0.27             0.030
2005      40.4       98.1      83.2              0.27             0.000
2006      48.0      217.3      40.4              0.28             0.084
2007      35.2      292.0     120.3              0.28             0.104
2008      45.1      292.9     132.0              0.28             0.000
2009      58.6      232.7     120.0              0.28             0.000
2010      36.6      230.7      84.4              0.28             0.023
2011      53.6      241.2     108.0              0.29             0.000
2012      55.4      233.0     108.0              0.29             0.000
2013      10.0      173.0     131.0              0.29             0.083
2014      40.4       98.1      95.2              0.30             0.026
...        ...        ...       ...               ...               ...
2075      40.6      307.5      36.1              0.56             0.375
2076      17.8      353.4     107.2              0.58             0.028
2077      10.4      383.0     120.0              0.58             0.027
2078      43.5      292.0     127.5              0.59             0.168
2079      22.7       56.2      91.3              0.59             0.171
2080      35.0      351.3      86.9              0.60             0.183
2081      23.5      353.3      47.4              0.60             0.029
2082      40.6      307.5      48.1              0.62             0.235
2083      42.4      473.7      60.7              0.62             0.000
2084      36.4      292.3      21.2              0.63             1.640
2085      42.4      473.7      84.7              0.63             0.000
2086       6.8      419.0      29.2              0.64             0.231
2087      13.9      418.8      22.2              0.67             0.366
2088      52.5      292.1     135.4              0.67             0.061
2089      40.6      307.5     108.1              0.68             0.203
2090      10.4      383.0     132.0              0.68             0.340
2091      40.6      307.5      60.1              0.70             1.409
2092      42.4      473.7      48.7              0.72             0.035
2093      58.6      232.7      84.0              0.73             0.334
2094      32.0      343.4     120.0              0.75             0.103
2095      22.4      418.5      13.8              0.81             0.070
2096      32.0      343.4      96.0              0.82             0.026
2097      32.0      343.4     108.0              0.82             0.163
2098      25.6      421.8      60.0              0.96             0.142
2099      58.6      232.7      96.0              0.99             1.116
2100      15.5       56.3      84.4              1.03             0.030
2101      54.8      371.2     115.2              1.05             0.745
2102      52.3      370.0     126.9              1.20             0.534
2103      48.6       55.8     116.3              1.20             2.084
2104      32.0      343.4     132.0              1.26             0.395

      Tipo de roca
1985             3
1986             3
1987             3
1988             3
1989             3
1990             3
1991             3
1992             3
1993             3
1994             3
1995             3
1996             3
1997             3
1998             3
1999             3
2000             3
2001             3
2002             3
2003             3
2004             3
2005             3
2006             3
2007             3
2008             3
2009             3
2010             3
2011             3
2012             3
2013             3
2014             3
...            ...
2075             3
2076             3
2077             3
2078             3
2079             3
2080             3
2081             3
2082             3
2083             3
2084             3
2085             3
2086             3
2087             3
2088             3
2089             3
2090             3
2091             3
2092             3
2093             3
2094             3
2095             3
2096             3
2097             3
2098             3
2099             3
2100             3
2101             3
2102             3
2103             3
2104             3

[120 rows x 6 columns]
4
      Este [X]  Norte [Y]  Cota [Z]  Ley de Cobre [%]  Ley de Oro [ppm]  \
2105       3.0      538.6      72.0              0.24             0.070
2106       3.0      538.6      84.0              0.33             0.000
2107      17.3      472.6     101.3              0.38             0.000
2108      23.3      472.6     107.3              0.39             0.010
2109       3.0      538.6     120.0              0.42             0.219
2110      48.9      472.8     132.6              0.46             0.018
2111      44.1      397.8     120.0              0.48             0.027
2112      21.4      407.0     127.6              0.50             0.000
2113      25.6      421.8     108.0              0.50             0.097
2114       3.0      538.6     108.0              0.50             0.069
2115       5.6      592.7     106.0              0.51             0.059
2116      25.6      421.8      84.0              0.53             0.021
2117       3.0      538.6     132.0              0.54             0.122
2118      33.4      535.8      82.4              0.54             0.169
2119      42.4      473.7      72.7              0.54             0.000
2120      44.9      473.4     121.1              0.55             0.013
2121      44.1      397.8      96.0              0.56             0.079
2122      44.1      397.8      72.0              0.57             0.210
2123      42.4      473.7     108.7              0.59             0.011
2124      40.4      398.0     120.0              0.60             0.089
2125      25.6      421.8      72.0              0.62             0.091
2126      25.6      421.8     120.0              0.62             0.002
2127      44.1      397.8     108.0              0.68             0.049
2128       3.0      538.6      96.0              0.68             0.228
2129      31.8      472.7     115.7              0.69             0.001
2130      25.6      421.8      96.0              0.71             0.037
2131      40.4      398.0     132.0              0.71             0.429
2132      42.4      473.7      96.7              0.71             0.029
2133      25.6      421.8     132.0              0.97             0.208
2134      48.9      473.3     109.8              0.99             0.133
2135      70.4      413.0     132.0              1.03             0.356
2136      52.9      473.1      98.4              1.03             0.253
2137      70.5      413.0     131.7              1.08             0.111

      Tipo de roca
2105             4
2106             4
2107             4
2108             4
2109             4
2110             4
2111             4
2112             4
2113             4
2114             4
2115             4
2116             4
2117             4
2118             4
2119             4
2120             4
2121             4
2122             4
2123             4
2124             4
2125             4
2126             4
2127             4
2128             4
2129             4
2130             4
2131             4
2132             4
2133             4
2134             4
2135             4
2136             4
2137             4
5

In [48]:
grupos_roca.get_group(7) #dentro de parentesis debe estar el nombre del grupo

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
2373,399.0,295.2,26.4,0.44,3.941,7
2374,391.6,295.2,19.5,0.48,4.579,7
2375,382.9,295.2,11.2,0.59,1.757,7
2376,359.7,294.9,24.7,0.88,2.722,7
2377,358.7,295.0,12.7,1.14,19.045,7
2378,360.8,294.7,36.6,1.14,11.690,7
2379,399.0,295.2,26.4,0.44,3.941,7

In [49]:
grupos_roca.size() #contar valores opción 2

Tipo de roca
1     349
2    1636
3     120
4      33
5     173
6      62
7       7
dtype: int64

In [50]:
type(grupos_roca) #Marco de datos agrupado por: "tipo de roca en este caso"

pandas.core.groupby.groupby.DataFrameGroupBy

In [51]:
dataset_cu.sort_values('Tipo de roca') # ordenar los valores del dataset en base al "tipo de roca"

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,0.12,0.000,1
237,190.6,593.0,84.0,0.80,0.173,1
236,277.6,297.5,26.9,0.80,0.037,1
235,246.4,533.0,128.6,0.80,0.220,1
234,340.4,128.0,131.1,0.79,0.312,1
233,310.8,413.6,132.0,0.79,0.432,1
232,220.5,518.8,120.0,0.79,1.206,1
231,356.6,354.9,17.7,0.79,3.184,1
230,340.2,98.1,96.2,0.78,0.308,1
229,338.0,68.4,60.7,0.77,0.312,1
228,66.6,56.8,27.5,0.76,0.066,1
227,355.2,60.9,81.7,0.76,5.074,1
226,148.3,2.5,7.3,0.76,0.027,1
225,100.3,8.3,48.4,0.76,0.321,1
224,259.2,443.3,77.5,0.76,0.444,1
223,310.8,413.6,96.0,0.75,0.135,1
222,310.3,473.1,36.0,0.75,0.715,1
221,340.2,98.1,108.2,0.75,1.597,1
238,310.8,413.6,84.0,0.81,0.622,1
239,261.2,45.7,96.0,0.81,5.609,1
240,134.1,40.7,36.6,0.82,0.222,1
241,273.0,428.0,63.8,0.82,0.193,1
259,250.2,292.9,120.0,0.91,1.721,1
258,160.4,38.0,83.9,0.91,2.108,1
257,281.9,297.7,38.2,0.91,0.209,1
256,290.4,298.0,60.6,0.91,2.820,1
255,157.1,14.2,54.4,0.90,1.543,1
254,215.2,114.0,82.2,0.90,3.026,1
253,157.1,14.2,60.9,0.89,0.762,1
252,273.0,428.0,19.8,0.89,0.168,1
...,...,...,...,...,...,...
2317,33.5,472.3,30.9,0.41,0.021,6
2318,70.4,263.0,132.0,0.42,0.004,6
2319,40.0,68.0,96.0,0.44,2.095,6
2320,70.4,263.0,108.0,0.44,0.018,6
2341,40.0,38.0,96.0,0.91,2.943,6
2322,74.6,234.7,127.2,0.51,0.013,6
2323,40.0,38.0,84.0,0.55,0.295,6
2325,70.4,143.0,120.0,0.62,0.153,6
2321,49.4,351.7,61.9,0.45,0.006,6
2327,58.6,232.7,36.0,0.67,0.179,6
2339,70.4,143.0,108.0,0.89,1.730,6
2338,59.7,263.2,84.0,0.89,1.047,6
2326,52.8,228.1,39.3,0.63,2.183,6
2336,40.0,55.9,108.0,0.84,0.452,6
2335,54.5,289.3,47.2,0.83,0.402,6
2334,58.6,232.7,48.0,0.83,0.955,6
2337,70.5,173.3,26.0,0.86,0.590,6
2332,59.5,292.7,48.7,0.82,0.523,6
2331,31.2,592.8,131.3,0.78,0.086,6
2330,70.4,233.0,84.5,0.76,0.922,6
2329,70.4,113.0,129.2,0.75,0.690,6
2328,58.6,232.7,60.0,0.67,0.833,6
2333,70.4,323.0,132.0,0.82,0.028,6
2378,360.8,294.7,36.6,1.14,11.690,7
2373,399.0,295.2,26.4,0.44,3.941,7
2374,391.6,295.2,19.5,0.48,4.579,7
2375,382.9,295.2,11.2,0.59,1.757,7
2376,359.7,294.9,24.7,0.88,2.722,7
2377,358.7,295.0,12.7,1.14,19.045,7
2379,399.0,295.2,26.4,0.44,3.941,7

**Guardar el dataset ordenado:** *como un fichero .csv*

In [52]:
dataset_cu.sort_values('Tipo de roca').to_csv(carpeta_origen + "dataset_cu_ordenado_rocktype.csv")

Con esto ya tendremos un nuevo archivo creado en la carpeta de trabajo con el nombre señalado.

In [99]:
archivo3 = "dataset_cu_ordenado_rocktype.csv"
dataset_a3 = pd.read_csv(carpeta_origen + archivo3)
dataset_a3.head()

,Unnamed: 0,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,0,193.0,528.6,39.0,0.12,0.000,1
1,237,190.6,593.0,84.0,0.80,0.173,1
2,236,277.6,297.5,26.9,0.80,0.037,1
3,235,246.4,533.0,128.6,0.80,0.220,1
4,234,340.4,128.0,131.1,0.79,0.312,1

*La primera columna del dataframe no nos aporta mucha información, al contrario, nos estorba.*

In [100]:
dataset_a3.drop(dataset_a3.columns[0], axis=1)

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,0.12,0.000,1
1,190.6,593.0,84.0,0.80,0.173,1
2,277.6,297.5,26.9,0.80,0.037,1
3,246.4,533.0,128.6,0.80,0.220,1
4,340.4,128.0,131.1,0.79,0.312,1
5,310.8,413.6,132.0,0.79,0.432,1
6,220.5,518.8,120.0,0.79,1.206,1
7,356.6,354.9,17.7,0.79,3.184,1
8,340.2,98.1,96.2,0.78,0.308,1
9,338.0,68.4,60.7,0.77,0.312,1
10,66.6,56.8,27.5,0.76,0.066,1
11,355.2,60.9,81.7,0.76,5.074,1
12,148.3,2.5,7.3,0.76,0.027,1
13,100.3,8.3,48.4,0.76,0.321,1
14,259.2,443.3,77.5,0.76,0.444,1
15,310.8,413.6,96.0,0.75,0.135,1
16,310.3,473.1,36.0,0.75,0.715,1
17,340.2,98.1,108.2,0.75,1.597,1
18,310.8,413.6,84.0,0.81,0.622,1
19,261.2,45.7,96.0,0.81,5.609,1
20,134.1,40.7,36.6,0.82,0.222,1
21,273.0,428.0,63.8,0.82,0.193,1
22,250.2,292.9,120.0,0.91,1.721,1
23,160.4,38.0,83.9,0.91,2.108,1
24,281.9,297.7,38.2,0.91,0.209,1
25,290.4,298.0,60.6,0.91,2.820,1
26,157.1,14.2,54.4,0.90,1.543,1
27,215.2,114.0,82.2,0.90,3.026,1
28,157.1,14.2,60.9,0.89,0.762,1
29,273.0,428.0,19.8,0.89,0.168,1
...,...,...,...,...,...,...
2350,33.5,472.3,30.9,0.41,0.021,6
2351,70.4,263.0,132.0,0.42,0.004,6
2352,40.0,68.0,96.0,0.44,2.095,6
2353,70.4,263.0,108.0,0.44,0.018,6
2354,40.0,38.0,96.0,0.91,2.943,6
2355,74.6,234.7,127.2,0.51,0.013,6
2356,40.0,38.0,84.0,0.55,0.295,6
2357,70.4,143.0,120.0,0.62,0.153,6
2358,49.4,351.7,61.9,0.45,0.006,6
2359,58.6,232.7,36.0,0.67,0.179,6
2360,70.4,143.0,108.0,0.89,1.730,6
2361,59.7,263.2,84.0,0.89,1.047,6
2362,52.8,228.1,39.3,0.63,2.183,6
2363,40.0,55.9,108.0,0.84,0.452,6
2364,54.5,289.3,47.2,0.83,0.402,6
2365,58.6,232.7,48.0,0.83,0.955,6
2366,70.5,173.3,26.0,0.86,0.590,6
2367,59.5,292.7,48.7,0.82,0.523,6
2368,31.2,592.8,131.3,0.78,0.086,6
2369,70.4,233.0,84.5,0.76,0.922,6
2370,70.4,113.0,129.2,0.75,0.690,6
2371,58.6,232.7,60.0,0.67,0.833,6
2372,70.4,323.0,132.0,0.82,0.028,6
2373,360.8,294.7,36.6,1.14,11.690,7
2374,399.0,295.2,26.4,0.44,3.941,7
2375,391.6,295.2,19.5,0.48,4.579,7
2376,382.9,295.2,11.2,0.59,1.757,7
2377,359.7,294.9,24.7,0.88,2.722,7
2378,358.7,295.0,12.7,1.14,19.045,7
2379,399.0,295.2,26.4,0.44,3.941,7

In [101]:
dataset_a3.head()

,Unnamed: 0,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,0,193.0,528.6,39.0,0.12,0.000,1
1,237,190.6,593.0,84.0,0.80,0.173,1
2,236,277.6,297.5,26.9,0.80,0.037,1
3,235,246.4,533.0,128.6,0.80,0.220,1
4,234,340.4,128.0,131.1,0.79,0.312,1

*La columna borrada, en realidad aun esta vigente en el dataframe*

In [102]:
dataset_a3.drop(dataset_a3.columns[0], axis=1, inplace=True)

In [103]:
dataset_a3.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,0.12,0.000,1
1,190.6,593.0,84.0,0.80,0.173,1
2,277.6,297.5,26.9,0.80,0.037,1
3,246.4,533.0,128.6,0.80,0.220,1
4,340.4,128.0,131.1,0.79,0.312,1

**Para ver algunas transformaciones, utilizaremos Numpy.**

In [104]:
import numpy as np

In [105]:
np.sum([2,2])

4

In [106]:
np.min([1,2,3])

1

In [107]:
np.log(1)

0.0

In [108]:
np.max(dataset_a3['Tipo de roca'])

7

In [109]:
np.max(dataset_a3['Ley de Cobre [%]'])

7.24

In [110]:
media_oro = np.mean(dataset_a3['Ley de Oro [ppm]'])
print('media_oro')

media_oro

In [111]:
media_au = np.mean(dataset_a3['Ley de Oro [ppm]'])
print('Ley media Au:', round(media_au, 2), 'ppm')

Ley media Au: 3.95 ppm

*Volvamos al DataFrame que nos interesa*

In [112]:
dataset_a3.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,0.12,0.000,1
1,190.6,593.0,84.0,0.80,0.173,1
2,277.6,297.5,26.9,0.80,0.037,1
3,246.4,533.0,128.6,0.80,0.220,1
4,340.4,128.0,131.1,0.79,0.312,1

In [113]:
dataset_a3['Ley de Cobre [%]'] = np.log(dataset_a3['Ley de Cobre [%]'])

In [114]:
dataset_a3.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,-2.120264,0.000,1
1,190.6,593.0,84.0,-0.223144,0.173,1
2,277.6,297.5,26.9,-0.223144,0.037,1
3,246.4,533.0,128.6,-0.223144,0.220,1
4,340.4,128.0,131.1,-0.235722,0.312,1

In [115]:
dataset_a3['Ley de Cobre [%]'].skew()

-0.2155247544861341

In [116]:
dataset_cu['Ley de Cobre [%]'].skew()

2.7706629036669352

*La transformación en este caso de la Ley de Cu, provocaría a priori un cambio en la distribución desde lognormal positiva a pseudo simetrica.*

**Creación de nuevas columnas en el DataFrame:**

In [117]:
dataset_a3['Densidad [gr/cc]'] = 2.6

In [118]:
dataset_a3.tail()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca,Densidad [gr/cc]
2375,391.6,295.2,19.5,-0.733969,4.579,7,2.6
2376,382.9,295.2,11.2,-0.527633,1.757,7,2.6
2377,359.7,294.9,24.7,-0.127833,2.722,7,2.6
2378,358.7,295.0,12.7,0.131028,19.045,7,2.6
2379,399.0,295.2,26.4,-0.820981,3.941,7,2.6

In [119]:
dataset_a3.drop(dataset_a3.columns[-1], axis=1, inplace=True)

In [120]:
dataset_a3.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,-2.120264,0.000,1
1,190.6,593.0,84.0,-0.223144,0.173,1
2,277.6,297.5,26.9,-0.223144,0.037,1
3,246.4,533.0,128.6,-0.223144,0.220,1
4,340.4,128.0,131.1,-0.235722,0.312,1

In [121]:
dataset_cu.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca
0,193.0,528.6,39.0,0.12,0.000,1
1,335.1,38.0,97.0,0.13,0.028,1
2,250.7,593.4,36.0,0.13,0.027,1
3,275.8,517.2,86.1,0.19,0.000,1
4,256.1,529.1,61.8,0.19,0.039,1

In [122]:
dataset_a3['Cu [%]'] = dataset_cu['Ley de Cobre [%]']

In [123]:
dataset_a3.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Ley de Oro [ppm],Tipo de roca,Cu [%]
0,193.0,528.6,39.0,-2.120264,0.000,1,0.12
1,190.6,593.0,84.0,-0.223144,0.173,1,0.13
2,277.6,297.5,26.9,-0.223144,0.037,1,0.13
3,246.4,533.0,128.6,-0.223144,0.220,1,0.19
4,340.4,128.0,131.1,-0.235722,0.312,1,0.19

In [124]:
dataset_a3.rename(columns={'Ley de Oro [ppm]':'Au [ppm]'}, inplace=True)

In [125]:
dataset_a3.head()

,Este [X],Norte [Y],Cota [Z],Ley de Cobre [%],Au [ppm],Tipo de roca,Cu [%]
0,193.0,528.6,39.0,-2.120264,0.000,1,0.12
1,190.6,593.0,84.0,-0.223144,0.173,1,0.13
2,277.6,297.5,26.9,-0.223144,0.037,1,0.13
3,246.4,533.0,128.6,-0.223144,0.220,1,0.19
4,340.4,128.0,131.1,-0.235722,0.312,1,0.19

In [126]:
dataset_a3.rename(columns={'Ley de Cobre [%]':'Ln Cu [%]'}, inplace=True)

In [127]:
dataset_a3.head()

   Este [X]  Norte [Y]  Cota [Z]  Ln Cu [%]  Au [ppm]  Tipo de roca  Cu [%]
0     193.0      528.6      39.0  -2.120264     0.000             1    0.12
1     190.6      593.0      84.0  -0.223144     0.173             1    0.13
2     277.6      297.5      26.9  -0.223144     0.037             1    0.13
3     246.4      533.0     128.6  -0.223144     0.220             1    0.19
4     340.4      128.0     131.1  -0.235722     0.312             1    0.19

In [128]:
dataset_a3['Densidad'] = 2.6

In [129]:
dataset_a3.head()

,Este [X],Norte [Y],Cota [Z],Ln Cu [%],Au [ppm],Tipo de roca,Cu [%],Densidad
0,193.0,528.6,39.0,-2.120264,0.000,1,0.12,2.6
1,190.6,593.0,84.0,-0.223144,0.173,1,0.13,2.6
2,277.6,297.5,26.9,-0.223144,0.037,1,0.13,2.6
3,246.4,533.0,128.6,-0.223144,0.220,1,0.19,2.6
4,340.4,128.0,131.1,-0.235722,0.312,1,0.19,2.6

In [130]:
dataset_a3.columns[6]

'Cu [%]'

In [131]:
orden = [0,1,2,6,3,4,5,7]
dataset_a3 = dataset_a3[dataset_a3.columns[orden]]

In [132]:
dataset_a3.head()

,Este [X],Norte [Y],Cota [Z],Cu [%],Ln Cu [%],Au [ppm],Tipo de roca,Densidad
0,193.0,528.6,39.0,0.12,-2.120264,0.000,1,2.6
1,190.6,593.0,84.0,0.13,-0.223144,0.173,1,2.6
2,277.6,297.5,26.9,0.13,-0.223144,0.037,1,2.6
3,246.4,533.0,128.6,0.19,-0.223144,0.220,1,2.6
4,340.4,128.0,131.1,0.19,-0.235722,0.312,1,2.6

**Reemplazar un valor numérico de una columna por un texto:**

En este caso cambiaremos el tipo de roca {1,2,3,4,5,6,7} por su asociación en forma de texto.

In [133]:
dataset_a3.replace({'Tipo de roca':{1:"granodiorita",2:"gabro",3:"diorita",4:"andesita",5:"dacita",6:"riolita",7:"basalto"}}, inplace=True)

In [134]:
dataset_a3.head()

,Este [X],Norte [Y],Cota [Z],Cu [%],Ln Cu [%],Au [ppm],Tipo de roca,Densidad
0,193.0,528.6,39.0,0.12,-2.120264,0.000,granodiorita,2.6
1,190.6,593.0,84.0,0.13,-0.223144,0.173,granodiorita,2.6
2,277.6,297.5,26.9,0.13,-0.223144,0.037,granodiorita,2.6
3,246.4,533.0,128.6,0.19,-0.223144,0.220,granodiorita,2.6
4,340.4,128.0,131.1,0.19,-0.235722,0.312,granodiorita,2.6

In [135]:
dataset_a3.to_csv(carpeta_origen + "dataset_cu2.csv")

**Columna - Condición:**

In [148]:
dataset_a3['Categoria'] = np.where(dataset_a3['Cu [%]']>=0.5, 'Mineral', 'Esteril')

In [149]:
dataset_a3.tail()

,Este [X],Norte [Y],Cota [Z],Cu [%],Ln Cu [%],Au [ppm],Tipo de roca,Densidad,Categoria
2375,391.6,295.2,19.5,0.59,-0.733969,4.579,basalto,2.6,Mineral
2376,382.9,295.2,11.2,0.88,-0.527633,1.757,basalto,2.6,Mineral
2377,359.7,294.9,24.7,1.14,-0.127833,2.722,basalto,2.6,Mineral
2378,358.7,295.0,12.7,1.14,0.131028,19.045,basalto,2.6,Mineral
2379,399.0,295.2,26.4,0.44,-0.820981,3.941,basalto,2.6,Esteril